@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),
    url("fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "robotoregular";
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 1190px;
  margin: auto;
  border: 2px solid rgb(202, 202, 202);
  margin-top: 10px;
  margin-bottom: 10px;
}

/***********************HEADER*************************/

header {
  display: flex;
  flex-direction: row;
}

/************photo*************/

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32.1%;
  background-color: #43ac7b9f;
  height: 328px;
}

.photo img {
  width: 200px;
  height: 200px;
  border: 3px solid #34866056;
  border-radius: 100%;
}

/************nom*************/

.nom {
  width: 67.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prenom {
  color: #43ac7b9f;
}

h1 {
  padding-left: 65px;
  margin-bottom: 0;
}

.nom h2 {
  padding-left: 65px;
}

.line {
  border-bottom: 2px #43ac7b9f solid;
}
/**************************CORPS**************************/

.corps {
  display: flex;
  flex-direction: row;
}

/***********aside************/

aside {
  width: 32.1%;
  background-color: #43ac7b9f;
  font-weight: bold;
}

aside h2,
.hobbies h2 {
  background-color: #000000;
  color: #43ac7b9f;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.contact h3,
.contact p,
.contact a {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

aside h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

aside p,
aside a {
  margin-top: 0;
  margin-bottom: 0;
}

aside a {
  color: #000000;
  text-decoration: none;
}

aside a:hover {
  color: white;
  text-decoration: underline;
}

.about p {
  padding: 30px 40px 30px 40px;
  line-height: 30px;
}

/************section*************/

section {
  width: 67.9%;
}

.section {
  margin: 0 30px 0 65px;
}

.titres {
  display: flex;
  align-items: center;
  border-bottom: 2px #43ac7b9f solid;
}

.titres i {
  font-size: 35px;
  color: #43ac7b9f;
  margin-right: 30px;
}

.bloc {
  display: flex;
}

.date {
  width: 25%;
  padding-top: 20px;
}

.date i {
  color: #43ac7b9f;
  margin-right: 10px;
}

.text {
  width: 75%;
}

section h3,
section h4 {
  margin-bottom: 0;
}

section h4 {
  margin-top: 0;
}

section p {
  margin-top: 5px;
}

/*********************FOOTER*********************/

footer {
  display: flex;
  flex-direction: row;
}

/************hobbies*************/

.hobbies {
  width: 32.1%;
  background-color: #43ac7b9f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hobbies h2 {
  margin-bottom: 0;
}

#logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logos i {
  font-size: xx-large;
  border: 1px black solid;
  border-radius: 100%;
  padding: 10px 10px 10px 10px;
  color: black;
}

/************recommandations*************/

.cadre {
  margin: 0 30px 0 65px;
}

.recommandations {
  width: 67.9%;
}

.footer_droit {
  display: flex;
  flex-direction: row;
}

.footer_droit p {
  margin-top: 0;
  margin-bottom: 0;
}

.recommandations .list {
  width: 50%;
  padding-left: 0;
  padding-bottom: 20px;
}

.recommandations a {
  color: #000000;
  text-decoration: none;
}

.recommandations a:hover {
  color: #43ac7b9f;
  text-decoration: underline;
}

/***********************RESPONSIVE************************/

/************medium*************/

@media screen and (max-width: 991px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
  header,
  .corps,
  footer {
    display: flex;
    flex-direction: column;
  }
  .photo,
  .nom,
  aside,
  section,
  .hobbies,
  .recommandations {
    width: 100%;
  }

  .photo {
    order: 2;
  }

  .nom {
    order: 1;
    text-align: center;
  }

  .nom h1,
  .nom h2 {
    padding: 0;
  }

  section {
    order: 3;
  }

  .section,
  .cadre {
    margin-left: 30px;
  }

  .titres {
    justify-content: center;
  }

  aside {
    order: 4;
  }

  .contact {
    text-align: center;
  }

  .contact h3,
  .contact p,
  .contact a {
    padding-left: 0;
  }

  .hobbies {
    order: 5;
  }

  .recommandations {
    order: 6;
  }

  #logos {
    height: 100px;
  }
}

/************little*************/

@media screen and (max-width: 740px) {
  .date,
  .text {
    width: 100%;
  }

  section {
    background-color: #43ac7b9f;
    font-weight: bold;
  }

  .section,
  .cadre {
    margin: 0;
  }

  .bloc {
    margin-left: 30px;
    margin-right: 30px;
  }

  .titres {
    color: #43ac7b9f;
    background-color: black;
    text-align: center;
  }

  .titres i {
    color: #43ac7b9f;
  }

  .date i {
    color: #000000;
  }

  .bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bloc h3 {
    margin-top: 0;
  }

  .bloc h3,
  .bloc h4 {
    text-align: center;
  }

  .date {
    display: flex;
    justify-content: center;
  }

  .footer_droit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer_droit .list {
    width: 40%;
  }
}
